# Ignore compiled files
*.class
*.pyc
*.log

# Ignore build artifacts
*.jar
target/
dist/

# Ignore IDE and editor files
*.swp
*.swo
*.swn
*.DS_Store
*.idea/
.vscode/

# C build files
sss
*.o